body {
	background-color: #000;
	-webkit-transition:background-color linear 5s;
	-moz-transition:background-color linear 5s;
	-o-transition:background-color linear 5s;
	-ms-transition:background-color linear 5s;
	transition:background-color linear 5s;
	overflow-x:hidden;
}

.container {
	display: none;
}

/* বাটনগুলো শুরুতে লুকিয়ে রাখার মেইন কোড */
#play, #bannar_coming, #balloons_flying, #cake_fadein, #light_candle, #wish_message, #story, #cake_cut {
	display: none;
}

.peach {
	background-color: #FFDAB9;
}

.peach-after {
	animation: peach_alive linear 8s infinite;
}

@keyframes peach_alive {
	0%{ background-color: #FFDAB9; }
	25%{ background-color: #FFE4B5; }
	50%{ background-color: #FFDAB9; }
	75%{ background-color: #FFEFD5; }
	100%{ background-color: #FFDAB9; }
}

.bulb {
	width: 50px;
	height: 50px;
	margin: auto;
	background-repeat: no-repeat;
	background-position: center 0px;
	background-size: 50px 50px;
}

.bulb-holder {
	height: 70px;
}

.bulb-glow-yellow { background-image: url('bulb_yellow.png'); animation: bulb_glow 5s; }
.bulb-glow-red { background-image: url('bulb_red.png'); animation: bulb_glow 5s; }
.bulb-glow-blue { background-image: url('bulb_blue.png'); animation: bulb_glow 5s; }
.bulb-glow-green { background-image: url('bulb_green.png'); animation: bulb_glow 5s; }
.bulb-glow-pink { background-image: url('bulb_pink.png'); animation: bulb_glow 5s; }
.bulb-glow-orange { background-image: url('bulb_orange.png'); animation: bulb_glow 5s; }

@keyframes bulb_glow {
	0%{ opacity: 0; }
	100%{ opacity: 1; }
}

/* After Music Glows */
.bulb-glow-yellow-after { animation: bulb_glow_after 1s infinite; }
@keyframes bulb_glow_after {
	0%{ opacity: 1; }
	50%{ opacity: 0.5; }
	100%{ opacity: 1; }
}

audio { display: none; }

.bannar {
	max-width: 100%;
	transform: translate(0px,-500px);
}

.bannar-come {
	animation: bannar_come linear 6s forwards;
}

@keyframes bannar_come {
	0%{ transform:translate(0px,-1000px); }
	33%{ transform:translate(0px,0px) rotate(10deg); }
	66% { transform:translate(0px,100px) rotate(-10deg); }
	100% { transform:translate(0px,0px); }
}

.balloons {
	position: fixed;
	bottom: -200px;
	opacity: 0.6;
	z-index: 99;
	width: 100px;
	height: 183px;
	background-repeat: no-repeat;
	background-size: 100px 183px;
}

.balloons h2 {
	text-transform: uppercase;
	font-family: 'Signika', sans-serif;
	font-size: 50px;
	color: #BF4136;
	text-shadow: 5px 5px 5px #FFF;
	display: none;
}

#b1 { background-image: url('b1.png'); }
#b2 { background-image: url('b2.png'); }
#b3 { background-image: url('b3.png'); }
#b4 { background-image: url('b4.png'); }
#b5 { background-image: url('b5.png'); }
#b6 { background-image: url('b6.png'); }
#b7 { background-image: url('b7.png'); }

.balloon-border {
	position: fixed;
	top: 100%;
	opacity: 0.5;
	z-index: 9999;
}

.cake-cover { margin-top: 50px; position: relative; }
.message { margin-top: 200px; display: none; }
.message p {
	font-family: 'Signika', sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	color: #C4515C;
	text-shadow: 2px 2px 2px #FFF;
	display: none;
	font-weight: bold;
}

.btn-primary {
	border-color: #466baf;
	padding: 10px;
	text-transform: uppercase;
	font-family: 'Signika', sans-serif;
	font-weight: 700;
	color: #fff;
	background-color: #466baf;
	margin: 5px;
}

/* ছুরি এবং কাটিং ইফেক্ট */
.knife {
	position: absolute;
	top: -150px; 
	left: 50%;
	width: 70px;
	height: 15px;
	background: linear-gradient(to bottom, #e0e0e0, #999);
	border-radius: 2px;
	border-right: 25px solid #333;
	transform: rotate(45deg);
	display: none;
	z-index: 1000;
}

.knife-move {
	display: block !important;
	animation: cut_the_cake 2.5s forwards;
}

@keyframes cut_the_cake {
	0% { top: -100px; transform: rotate(45deg); }
	40% { top: 50px; transform: rotate(0deg); }
	60% { top: 60px; transform: rotate(0deg) translateX(50px); }
	100% { top: 200px; opacity: 0; }
}

.cake-cut-active::after {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	width: 4px;
	height: 100%;
	background: rgba(255, 255, 255, 0.8);
	z-index: 100;
	box-shadow: 0 0 10px #fff;
	transform: translateX(-50%);
}
